body {
  width: 710px;
  margin: auto;
  padding-top: 5vh;
}

input {
  width: 100%;
  border: 0px;
  background: none;
  border-bottom: 1px solid black;
}

p,
ul,
td,
input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}

input + input {
  margin-top: 0.5em;
}

table {
  width: 100%;
}
td.right {
  text-align: right;
}